@import "../../styles/utils/utils";

.cart {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.3s ease;

  &:hover {
    background-color: $c-black-1;
  }

  @include on-tablet {
    margin-bottom: 32px;
    gap: 24px;
  }

  &__title {
    color: $c-white;

    @include namu24;

    @include on-tablet {
      @include namu32;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 8px;

    @include on-tablet {
      gap: 24px;
    }
  }

    &__img {
    border-radius: 30px;
    width: 160px;
    height: 160px;

    @include on-tablet {
      height: 180px;
      width: 200px;
    }

    @include on-desktop {
      height: 266px;
      width: 318px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
  }
  
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &__materials {
    display: flex;
    flex-direction: column;
    gap: 2px;

    @include on-desktop {
      gap: 4px;
    }

    &-item {
      padding-left: 10px;
      color: $c-gray-2;

      @include namu14;

      @include on-tablet{
        @include namu16;
      }
    }
  }

  &__count {
    display: flex;
    justify-content: space-between;

    &-text {
      color: $c-gray-3;

      @include namu16;

      @include on-tablet {
        @include namu24;
      }
  
      @include on-desktop {
        @include namu32;
      }
    }
  }

  &__top-mob {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    @include on-desktop {
      display: none;
    }
  }

  &__top-pc {
    display: none;

    @include on-desktop {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__button {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    transition: 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}
