@import "../../styles/utils/utils";


.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  
  &__container {
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width: 100%;
    padding: 16px 16px 80px;

    @include on-tablet {
      padding: 32px 32px 100px;
    }
  
    @include on-desktop {
      padding: 48px 48px 120px;
    }
  }

  &__pay {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    padding: 16px 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(73, 80, 87);
    border-top: 1px solid rgb(73, 80, 87);
    gap: 16px;

    @include on-tablet {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
    }
  }

  &__count {
    display: flex;
    gap: 50px;
  }

  &__text {
    color: white;

    @include namu24;

    @include on-tablet {
      @include namu32;
    }
  }

  &__button {
    width: 100%;
    height: 44px;
    border-radius: 44px;
    border: none;
    outline: none;
    background-color: #F9B129;
    transition: 0.3s ease;


    @include namu24;

    @include on-tablet {
      max-width: 318px;
      height: 56px;
      border-radius: 44px;
    }

    @include on-desktop {
      max-width: 318px;
      height: 62px;
      border-radius: 44px;
    }

    &:hover {
      color: white;
    }

    &:focus {
      background-color: #FAC155;
    }
  }

  &__slider {
    width: 100%;
    padding: 0 16px;
    margin-bottom: 120px;
    box-sizing: border-box;

    @include on-tablet {
      padding: 0 32px;
      margin-bottom: 140px;
    }

    @include on-desktop {
      padding: 0 48px;
      margin-bottom: 180px;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      @include on-tablet {
        margin-bottom: 32px;
      }
    }

    &-button {
      border: none;
      padding: 0;
      outline: none;
      background: none;
      rotate: 180deg;
      transition: 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    &-title {
      color: white;

      @include libra40;

      @include on-desktop {
        @include libra56;
      }
    }
  }

  &__empty {
    text-align: center;
    color: #495057;

    @include libra40;

    @include on-tablet {
      @include libra48
    }
  }
}
