@import "./utils/utils";

body {
  background-color: rgb(146, 133, 133);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: $main-height;

  @include on-tablet {
    min-height: $main-height-tablet;
  }

  @include on-desktop {
    min-height: $main-height-desktop;
  }
}
