@import "../../styles/utils/utils";

.phone-menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  background-color: $c-black;
  top: 88px;
  padding: 32px;
  box-sizing: border-box;

  &__active {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }

  &__inactive {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  @include on-tablet {
    display: none;
  }

  &__nav-link {
    color: $c-gray-5;
    text-decoration: none;

    @include namu24;
  }

  &__is-active {
    display: none;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    box-sizing: border-box;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 200px;
    box-sizing: border-box;
  }

  &__button {
    margin-bottom: 5px;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid $c-gray-1;
    border-radius: 48px;
    box-sizing: border-box;
    background-color: $c-orange-1;

    @include namu20;

    &:focus {
      background-color: $c-orange-2;
    }

    &:hover {
      border: 1px solid $c-white;
      color: $c-white;
    }
  }
}
