@font-face {
  font-family: Namu;
  src: url('../../assets/fonts/NAMU-Pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Libra;
  src: url('../../assets/fonts/Libra_font_Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Popins;
  src: url('../../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
