@import "./variables";

@mixin on-tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin LibraStandart {
  font-family: "Libra";
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}

@mixin NamuStandart {
  font-family: "Namu";
  font-weight: 400;
  letter-spacing: 0%;
}

@mixin PopinsStandart {
  font-family: "Popins";
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
}

@mixin Libra56 {
  @include LibraStandart();
  font-size: 56px;
}
@mixin Libra48 {
  @include LibraStandart();
  font-size: 48px;
}
@mixin Libra40 {
  @include LibraStandart();
  font-size: 40px;
}
@mixin Libra32 {
  @include LibraStandart();
  font-size: 32px;
}

@mixin Namu32 {
  @include NamuStandart();
  line-height: 100%;
  font-size: 32px;
}
@mixin Namu24 {
  @include NamuStandart();
  line-height: 100%;
  font-size: 24px;
}
@mixin Namu20 {
  @include NamuStandart();
  line-height: 150%;
  font-size: 20px;
}
@mixin Namu16 {
  @include NamuStandart();
  line-height: 150%;
  font-size: 16px;
}
@mixin Namu14 {
  @include NamuStandart();
  line-height: 150%;
  font-size: 14px;
}


@mixin Popins24 {
  @include PopinsStandart();
  font-size: 24px;
}
@mixin Popins20 {
  @include PopinsStandart();
  font-size: 20px;
}
@mixin Popins16 {
  @include PopinsStandart();
  font-size: 16px;
}
