.header {
  background-color: gray;

  &__link-container {
    display: flex;
    gap: 50px;
  }

  &__nav-container {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__nav-link {
    color: aliceblue;
    text-decoration: none;
  }

  &__is-active {
    color: red;
  }

  &__nav-item {
    text-decoration: none;
  }
}