@import "../../styles/utils/utils";

.header {
  position: fixed;
  top: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 88px;
  width: 100%;
  z-index: 2;

  @include on-tablet {
    position: static;
    height: 96px;
  }

  @include on-desktop {
    position: static;
    height: 104px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 16px;

    @include on-tablet {
      padding: 0 32px;
    }
  
    @include on-desktop {
      padding: 0 48px;
    }
  }

  &__logo {
    width: 50px;
    height: 50px;
    
    &-img {
      width: 50px;
      height: 50px;
    }
  }

  &__left {
    display: none;

    @include on-tablet {
      display: flex;
      gap: 32px;
    }
  }

  &__right {
    display: none;

    @include on-tablet {
      display: flex;
      gap: 20px;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    width: 84px;
    gap: 20px;

    @include on-tablet {
      display: none;
    }
  }

  &__nav-link {
    @include namu24;

    color: aliceblue;
    text-decoration: none;
  }

  &__is-active {
    text-decoration: underline;
  }

  &__nav-item {
    text-decoration: none;
  }

  &__burger {
    background: none;
    border: none;
    box-sizing: border-box;
    padding: 0;
  }
}
