@import "../../styles/utils/utils";

.toy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__title {
    color: $c-white;

    @include libra56;
  }

  &__box {
    width: 100%;
    padding: 24px 16px;
    box-sizing: border-box;

    @include on-tablet {
      padding: 48px 32px;
    }

    @include on-desktop {
      padding: 48px;
    }
  }

  &__toys {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 120px;

    @include on-tablet {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 24px;
      margin-bottom: 160px;
    }

    @include on-desktop {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 24px;
      margin-bottom: 180px;
    }
  }

  &__img {
    width: 100%;
    max-height: 360px;
  }
}
