@import "../../styles/utils/utils";

.filters {
  position: relative;
  display: flex;
  align-items: baseline;
  margin: 32px 0 64px ;
  width: 100%;
  box-sizing: border-box;

  &__search {
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 16px;
    height: 48px;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: #111213;

    &-input {
      width: 100%;
      background: none;
      border: none;
      outline: none;
      color: white;

      @include namu16;
    }
  }

  &__filter {
    position: absolute;
    right: 0;
    width: 100%;
    background-color: black;
    border-bottom: 2px solid rgb(17, 18, 19);
    animation-duration: 0.3s;
    box-sizing: border-box;

    &--active {
      border: 2px solid rgb(73, 80, 87);
      border-radius: 30px;
      background: rgb(7, 8, 9);
    }

    &-header {
      position: relative;
      width: 100%;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      background: none;
      border: none;
      box-sizing: border-box;
    }

    &-title {
      color: white;

      @include popins20;
    }

    &-placeholder {
      color: #495057;

      @include namu16;
    }

    &-left {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &-arrow {
      animation-duration: 0.3s;
      transition: 0.3s;
      &-active {
        animation-duration: 0.3s;
        transition: 0.3s;
        rotate: 180deg;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      outline: none;
      border: none;
    }

    &-item {
      width: 100%;
      height: 48px;
      background: none;
      outline: none;
      border: none;
      border-top: 1px solid rgb(17, 18, 19);
      box-sizing: border-box;
      color: white;
      transition: all 0.3s ease;

      @include popins20;

      &:hover {
        color: yellow;
      }

      &--active {
        color: orange;
      }
    }
  }
}
